$RECYCLE.BIN/

*.asv
*.mex*
*.bak
*.log
*.db
*.ini
*.zip
*.eps

dynareOBCTemp*
*deleteThis*
~*
outcmaes*.*

codegen/
Core/tbxmanager/
Core/requirements/
Core/OptiToolbox216/
Core/OptiToolbox221/

Tests/ComparisonOfPerfectForesightSolutionsForLinearModels/OccBinVersionBound*
Tests/ComparisonOfPerfectForesightSolutionsForLinearModels/OccBinVersionSteady*
Tests/ComparisonOfPerfectForesightSolutionsForLinearModels/ExtendedPathVersion*

.DS_Store
dynareOBCGlobalResume.mat
variablescmaes.mat
CurrentVersionURL.txt
LastDependencyUpdate.mat
FastStart.mat
pou.mat
time.mat
