[submodule "Extern/nlma"]
	path = Extern/nlma
	url = https://github.com/tholden/nlma.git
[submodule "Extern/glpkmex"]
	path = Extern/glpkmex
	url = https://github.com/tholden/glpkmex.git
[submodule "Extern/eigtool"]
	path = Extern/eigtool
	url = https://github.com/tholden/eigtool.git
[submodule "Extern/YALMIP"]
	path = Extern/YALMIP
	url = https://github.com/tholden/YALMIP.git
[submodule "Extern/OPTI"]
	path = Extern/OPTI
	url = https://github.com/tholden/OPTI.git
[submodule "Extern/EST-NLSS"]
	path = Extern/EST-NLSS
	url = https://github.com/tholden/EST-NLSS
[submodule "Extern/DoubleDouble"]
	path = Extern/DoubleDouble
	url = https://github.com/tholden/DoubleDouble.git
[submodule "Examples/FernandezVillaverdeEtAl2015/DynareTransformationEngine"]
	path = Examples/FernandezVillaverdeEtAl2015/DynareTransformationEngine
	url = https://github.com/tholden/DynareTransformationEngine.git
