[submodule "Extern/nlma"]
	path = Extern/nlma
	url = https://github.com/tholden/nlma.git
[submodule "Extern/glpkmex"]
	path = Extern/glpkmex
	url = https://github.com/tholden/glpkmex.git
[submodule "Extern/eigtool"]
	path = Extern/eigtool
	url = https://github.com/tholden/eigtool.git
[submodule "Extern/YALMIP"]
	path = Extern/YALMIP
	url = https://github.com/tholden/YALMIP.git
