$RECYCLE.BIN/

*.mex*

Examples/FernandezVillaverdeEtAl2012/*.m
Examples/FernandezVillaverdeEtAl2012/*.mat
Examples/SmetsWouters*/*.m
Examples/SmetsWouters*/*.mat

*.asv
*.bak
*.log
*.db
*.ini
*.zip
*.eps
*.jnl
*.orig

dynareOBCTemp*
*deleteThis*
~*
outcmaes*.*
*_static.m
*_dynamic.m
*_steadystate2.m
*_set_auxiliary_variables.m
ValueStore.mat
ESTNLSSTempEstimationObjective.m
ESTNLSSTempEstimationObjectiveMex.mex*
ESTNLSSTempKalmanStep.m

codegen/
Extern/tbxmanager/
Extern/requirements/
Extern/OptiToolbox216/
Extern/OptiToolbox221/
Extern/OPTI_SCIP/
Output/

Tests/ComparisonOfPerfectForesightSolutionsForLinearModels/OccBinVersionBound*
Tests/ComparisonOfPerfectForesightSolutionsForLinearModels/OccBinVersionSteady*
Tests/ComparisonOfPerfectForesightSolutionsForLinearModels/ExtendedPathVersion*
Tests/ComparisonOfPerfectForesightSolutionsForLinearModels/*.mat

.DS_Store
dynareOBCGlobalResume.mat
variablescmaes.mat
VariablesACD.mat
CurrentVersionURL.txt
LastDependencyUpdate.mat
FastStart.mat
pou.mat
time.mat
checksum
